{% assign summary_source = post.summary | default: post.description | default: post.excerpt %}
{%- comment -%}
  Line breaks have to become spaces *before* strip_html, otherwise `strip_html` deletes
  the <br /> that hard_wrap produced and glues the two sentences together ("싶다.꽁치").
{%- endcomment -%}
{% assign summary_text = summary_source
  | replace: '<br />', ' '
  | replace: '<br>', ' '
  | replace: '</p>', ' '
  | replace: '</li>', ' '
  | strip_html
  | replace: '&nbsp;', ' '
  | newline_to_br
  | replace: '<br />', ' '
  | strip_newlines %}
{{ summary_text | replace: '  ', ' ' | replace: '  ', ' ' | strip }}
