---
layout: page
---

{% include lang.html %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign visible_count = 0 %}
    {% for post in t[1] %}
      {% unless post.hidden == true %}
        {% assign visible_count = visible_count | plus: 1 %}
      {% endunless %}
    {% endfor %}
    {% if visible_count > 0 %}
      {% assign tags = tags | push: t[0] %}
    {% endif %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    {% assign visible_count = 0 %}
    {% for post in site.tags[t] %}
      {% unless post.hidden == true %}
        {% assign visible_count = visible_count | plus: 1 %}
      {% endunless %}
    {% endfor %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ visible_count }}</span>
      </a>
    </div>
  {% endfor %}
</div>
